%{ for key, value in servers ~}
%{ for servername, ip_address in value ~}
${servername} ansible_host=${ip_address}
%{ endfor ~}
%{ endfor ~}

[all]
%{ for key, value in servers ~}
%{ for servername, ip_address in value ~}
${servername}
%{ endfor ~}
%{ endfor ~}

%{ for key, value in servers ~}
[${key}]
%{ for servername, ip_address in value ~}
${servername}
%{ endfor ~}

%{ endfor ~}